.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.note {
  background-image: url("images/icon_quill-pen-line.png");
  border: 2px solid red;
}

.warning {
  background-image: url("images/icon_alarm-warning-line.png");
  border: 2px solid orange;
}
